/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
  /* outline: 1px solid white; */
}

/******************************************
/* LAYOUT
/*******************************************/
body {
  background-image: url(/img/background-lightenend.jpg);
  background-position: top center;
  background-size: cover;
  color: rgb(248, 246, 246);
  text-shadow: 2px 4px 5px rgb(86, 4, 202);
  margin: 2% 5%;
}

header {
  margin: 1em 2em;
  text-align: center;
  font-family: "Spirax", cursive;
  font-size: 1.6em;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/

header p {
  font-family: "Arima Madurai", cursive;
  background-color: rgba(26, 107, 247, 0.872);
  padding: 0.8rem;
}

.dropdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2% 12%;
}

.dropBtn {
  background-color: rgb(39, 93, 174);
  background-image: linear-gradient(40deg, rgb(91, 155, 238), rgb(59, 9, 240));
  color: rgb(248, 246, 246);
  padding: 0.5em 1em;
  margin: 0 0.7em;
  font-family: "Arima Madurai", cursive;
  text-align: center;
  font-size: 1.4em;
  text-shadow: 2px 2px 3px rgb(101, 172, 238);
  border: 2px solid rgb(137, 73, 228);
  border-radius: 11px;
}

button {
  background-color: rgb(92, 34, 131);
  background-image: linear-gradient(40deg, rgb(156, 94, 243), rgb(86, 44, 236));
  color: rgb(248, 246, 246);
  padding: 0.7em 1em;
  margin: 0 2em;
  font-family: "Spirax", cursive;
  font-size: 1.4em;
  text-shadow: 2px 2px 3px rgb(101, 172, 238);
  border: 2px solid rgba(17, 62, 121, 0.7);
  border-radius: 11px;
}

.dropBtn:focus,
button:focus {
  outline: 0;
}

#showHoroscope {
  display: flex;
  align-items: center;
  justify-content: center;
}

.horoscopeImg {
  width: 40vw;
  height: 30vw;
}

#populateHoroscopeDescription {
  width: 40vw;
  height: 30vw;
  font-size: 2rem;
  font-family: "Arima Madurai", cursive;
  margin: 0 auto;
  text-align: center;
}

h2 {
  font-family: "Spirax", cursive;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  margin-top: 5rem;
}

.hidden {
  display: none;
}
